### 조건 기반 필터링

In [1]:
import numpy as np
import pandas as pd

In [3]:
college = pd.read_csv('0.dataSet/college.csv')
college

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,...,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
0,Alabama A & M University,Normal,AL,1.0,0.0,0.0,0,424.0,420.0,0.0,...,0.0000,0.0059,0.0138,0.0656,1,0.7356,0.8284,0.1049,30300,33888
1,University of Alabama at Birmingham,Birmingham,AL,0.0,0.0,0.0,0,570.0,565.0,0.0,...,0.0368,0.0179,0.0100,0.2607,1,0.3460,0.5214,0.2422,39700,21941.5
2,Amridge University,Montgomery,AL,0.0,0.0,0.0,1,NaN,NaN,1.0,...,0.0000,0.0000,0.2715,0.4536,1,0.6801,0.7795,0.8540,40100,23370
3,University of Alabama in Huntsville,Huntsville,AL,0.0,0.0,0.0,0,595.0,590.0,0.0,...,0.0172,0.0332,0.0350,0.2146,1,0.3072,0.4596,0.2640,45500,24097
4,Alabama State University,Montgomery,AL,1.0,0.0,0.0,0,425.0,430.0,0.0,...,0.0098,0.0243,0.0137,0.0892,1,0.7347,0.7554,0.1270,26600,33118.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7530,SAE Institute of Technology San Francisco,Emeryville,CA,NaN,NaN,NaN,1,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,9500
7531,Rasmussen College - Overland Park,Overland Park,KS,NaN,NaN,NaN,1,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,21163
7532,National Personal Training Institute of Cleveland,Highland Heights,OH,NaN,NaN,NaN,1,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,6333
7533,Bay Area Medical Academy - San Jose Satellite ...,San Jose,CA,NaN,NaN,NaN,1,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,PrivacySuppressed
7534,Excel Learning Center-San Antonio South,San Antonio,TX,NaN,NaN,NaN,1,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,12125

In [4]:
# college의 주가 'TX' 텍사스인 데이터에 한해서만
college.columns

Index(['INSTNM', 'CITY', 'STABBR', 'HBCU', 'MENONLY', 'WOMENONLY', 'RELAFFIL',
       'SATVRMID', 'SATMTMID', 'DISTANCEONLY', 'UGDS', 'UGDS_WHITE',
       'UGDS_BLACK', 'UGDS_HISP', 'UGDS_ASIAN', 'UGDS_AIAN', 'UGDS_NHPI',
       'UGDS_2MOR', 'UGDS_NRA', 'UGDS_UNKN', 'PPTUG_EF', 'CURROPER', 'PCTPELL',
       'PCTFLOAN', 'UG25ABV', 'MD_EARN_WNE_P10', 'GRAD_DEBT_MDN_SUPP'],
      dtype='object')

In [9]:
# 텍사스 주에 있는 대학
c1 = college.STABBR == 'TX'

In [10]:
# 대학에 백인 비율이 50% 이상만 검색 
c2 = college.UGDS_WHITE >= 0.5

In [11]:
c3 = c1 & c2
c3

0       False
1       False
2       False
3       False
4       False
        ...
7530    False
7531    False
7532    False
7533    False
7534    False
Length: 7535, dtype: bool

In [12]:
# row 가체가 boolean으로 적용 따라서 True인 row만 filtering
college[c3]

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,...,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
3610,Abilene Christian University,Abilene,TX,0.0,0.0,0.0,1,530.0,545.0,0.0,...,0.0454,0.0423,0.0045,0.0468,1,0.2595,0.5527,0.0381,40200,25985
3611,Alvin Community College,Alvin,TX,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0002,0.0000,0.0143,0.7123,1,0.1549,0.0625,0.2841,34500,6750
3612,Amarillo College,Amarillo,TX,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0000,0.0001,0.0085,0.6922,1,0.3786,0.1573,0.3431,31700,10950
3613,Angelina College,Lufkin,TX,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0264,0.0005,0.0000,0.5600,1,0.5308,0.0000,0.2603,26900,PrivacySuppressed
3614,Angelo State University,San Angelo,TX,0.0,0.0,0.0,0,475.0,490.0,0.0,...,0.0285,0.0331,0.0011,0.1289,1,0.4068,0.5279,0.1407,37700,21319.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6765,Golf Academy of America-Farmers Branch,Farmers Branch,TX,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0250,0.0000,0.0000,0.0500,1,0.4710,0.5072,0.6418,25300,18331
6808,Wade Gordon Hairdressing Academy,Amarillo,TX,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0309,0.0000,0.0000,0.0000,1,0.6376,0.6174,0.3434,NaN,12500
6890,Gemini School of Visual Arts & Communication,Cedar Park,TX,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0000,0.0000,0.0000,0.0000,1,0.2308,0.4615,0.6000,NaN,PrivacySuppressed
6976,Cosmetology Academy of Texarkana,Texarkana,TX,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0000,0.0000,0.0225,0.0000,1,0.7143,0.7347,0.3500,NaN,9833
7102,Sterling Health Center,Dallas,TX,0.0,0.0,0.0,1,NaN,NaN,0.0,...,0.0000,0.0227,0.0682,0.0455,0,0.0000,0.0000,NaN,NaN,NaN

In [13]:
cols = ['CITY', 'STABBR']
college.loc[c3, cols]

                CITY STABBR
3610         Abilene     TX
3611           Alvin     TX
3612        Amarillo     TX
3613          Lufkin     TX
3614      San Angelo     TX
...              ...    ...
6765  Farmers Branch     TX
6808        Amarillo     TX
6890      Cedar Park     TX
6976       Texarkana     TX
7102          Dallas     TX

[99 rows x 2 columns]

In [17]:
cr2 = college.UGDS_WHITE >= 0.5
cr3 = college.UGDS_WHITE <= 0.8
cr4 = cr2 + cr3
cr4

C:\Users\Playdata\anaconda3\lib\site-packages\pandas\core\computation\expressions.py:203: UserWarning: evaluating in Python space because the '+' operator is not supported by numexpr for the bool dtype, use '|' instead
  warnings.warn(

0        True
1        True
2        True
3        True
4        True
        ...
7530    False
7531    False
7532    False
7533    False
7534    False
Name: UGDS_WHITE, Length: 7535, dtype: bool

In [18]:
college[cr4]

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,...,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
0,Alabama A & M University,Normal,AL,1.0,0.0,0.0,0,424.0,420.0,0.0,...,0.0000,0.0059,0.0138,0.0656,1,0.7356,0.8284,0.1049,30300,33888
1,University of Alabama at Birmingham,Birmingham,AL,0.0,0.0,0.0,0,570.0,565.0,0.0,...,0.0368,0.0179,0.0100,0.2607,1,0.3460,0.5214,0.2422,39700,21941.5
2,Amridge University,Montgomery,AL,0.0,0.0,0.0,1,NaN,NaN,1.0,...,0.0000,0.0000,0.2715,0.4536,1,0.6801,0.7795,0.8540,40100,23370
3,University of Alabama in Huntsville,Huntsville,AL,0.0,0.0,0.0,0,595.0,590.0,0.0,...,0.0172,0.0332,0.0350,0.2146,1,0.3072,0.4596,0.2640,45500,24097
4,Alabama State University,Montgomery,AL,1.0,0.0,0.0,0,425.0,430.0,0.0,...,0.0098,0.0243,0.0137,0.0892,1,0.7347,0.7554,0.1270,26600,33118.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7159,Hollywood Institute of Beauty Careers-West Pal...,West Palm Beach,FL,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0000,0.0182,0.0909,0.0000,1,0.8248,0.8759,NaN,NaN,7735
7160,Hollywood Institute of Beauty Careers-Casselberry,Casselberry,FL,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0400,0.0000,0.0667,0.0000,1,0.6802,0.6802,NaN,NaN,7735
7161,Coachella Valley Beauty College-Beaumont,Beaumont,CA,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0149,0.0000,0.0000,0.0000,1,0.8148,0.5432,NaN,NaN,2170
7162,Dewey University-Mayaguez,Mayaguez,PR,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0000,0.0000,0.0000,0.2128,1,0.9615,0.0000,NaN,NaN,PrivacySuppressed
7163,Coastal Pines Technical College,Waycross,GA,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0191,0.0028,0.0056,0.6908,1,0.6540,0.0000,NaN,NaN,PrivacySuppressed

In [19]:
# 상단과 동일한 로직의 문장 - 숫자 포함 관계 처리 필터링 : between
cr5 = college.UGDS_WHITE.between(0.5, 0.8)
cr5

0       False
1        True
2       False
3        True
4       False
        ...
7530    False
7531    False
7532    False
7533    False
7534    False
Name: UGDS_WHITE, Length: 7535, dtype: bool

In [20]:
college[cr5]

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,...,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
1,University of Alabama at Birmingham,Birmingham,AL,0.0,0.0,0.0,0,570.0,565.0,0.0,...,0.0368,0.0179,0.0100,0.2607,1,0.3460,0.5214,0.2422,39700,21941.5
3,University of Alabama in Huntsville,Huntsville,AL,0.0,0.0,0.0,0,595.0,590.0,0.0,...,0.0172,0.0332,0.0350,0.2146,1,0.3072,0.4596,0.2640,45500,24097
5,The University of Alabama,Tuscaloosa,AL,0.0,0.0,0.0,0,555.0,565.0,0.0,...,0.0261,0.0268,0.0026,0.0844,1,0.2040,0.4010,0.0853,41900,23750
6,Central Alabama Community College,Alexander City,AL,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0000,0.0000,0.0019,0.3882,1,0.5892,0.3977,0.3153,27500,16127
7,Athens State University,Athens,AL,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0174,0.0057,0.0334,0.5517,1,0.4088,0.6296,0.6410,39000,18595
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7136,Aveda Institute-Phoenix,Tempe,AZ,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0398,0.0000,0.0057,0.0000,1,0.4831,0.6461,NaN,NaN,10555
7139,Northwest College-Medford,Medford,OR,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0000,0.0000,0.0200,0.0000,1,0.4627,0.5821,NaN,NaN,17042
7145,Trine University-Arizona Regional Campus,Peoria,AZ,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0357,0.0000,0.1071,0.3929,1,NaN,NaN,NaN,NaN,26000
7150,Beau Monde College of Hair Design-Beau Monde A...,Portland,OR,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0000,0.0000,0.0000,0.0000,0,0.0000,0.0000,NaN,NaN,12500
7163,Coastal Pines Technical College,Waycross,GA,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0191,0.0028,0.0056,0.6908,1,0.6540,0.0000,NaN,NaN,PrivacySuppressed

In [22]:
# TX와 MI값이 이상치라 할 경우라 간주, 제거해야 하는 상황이라면 어떻게? ~ 표기의 부정 연산자로 필터링

states = ['TX', 'MI']
cr1 = ~college.STABBR.isin(states)
cr2 = college.UGDS_WHITE.between(0.5, 0.8)
cr = cr1+cr2
college[cr]

C:\Users\Playdata\anaconda3\lib\site-packages\pandas\core\computation\expressions.py:203: UserWarning: evaluating in Python space because the '+' operator is not supported by numexpr for the bool dtype, use '|' instead
  warnings.warn(

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,...,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
0,Alabama A & M University,Normal,AL,1.0,0.0,0.0,0,424.0,420.0,0.0,...,0.0000,0.0059,0.0138,0.0656,1,0.7356,0.8284,0.1049,30300,33888
1,University of Alabama at Birmingham,Birmingham,AL,0.0,0.0,0.0,0,570.0,565.0,0.0,...,0.0368,0.0179,0.0100,0.2607,1,0.3460,0.5214,0.2422,39700,21941.5
2,Amridge University,Montgomery,AL,0.0,0.0,0.0,1,NaN,NaN,1.0,...,0.0000,0.0000,0.2715,0.4536,1,0.6801,0.7795,0.8540,40100,23370
3,University of Alabama in Huntsville,Huntsville,AL,0.0,0.0,0.0,0,595.0,590.0,0.0,...,0.0172,0.0332,0.0350,0.2146,1,0.3072,0.4596,0.2640,45500,24097
4,Alabama State University,Montgomery,AL,1.0,0.0,0.0,0,425.0,430.0,0.0,...,0.0098,0.0243,0.0137,0.0892,1,0.7347,0.7554,0.1270,26600,33118.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7528,WestMed College - Merced,Merced,CA,NaN,NaN,NaN,1,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,15623.5
7530,SAE Institute of Technology San Francisco,Emeryville,CA,NaN,NaN,NaN,1,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,9500
7531,Rasmussen College - Overland Park,Overland Park,KS,NaN,NaN,NaN,1,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,21163
7532,National Personal Training Institute of Cleveland,Highland Heights,OH,NaN,NaN,NaN,1,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,6333
7533,Bay Area Medical Academy - San Jose Satellite ...,San Jose,CA,NaN,NaN,NaN,1,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,PrivacySuppressed